@page 
@model KOTApp.Pages.org.IndexModel

@{
    ViewData["Title"] = "Companies";
}

<h1>My Companies</h1>

<a asp-page="Edit" asp-route-oid="@Request.Query["oid"]" class="btn btn-primary">Add Company</a>

<form method="get">
    <div class="input-group mt-2">
        <input type="search" class="form-control" value="" />
        <span class="input-group-lg">
            <button class="btn btn-dark">Search</button>
        </span>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Company Name</th>

            <th>Company Address</th>

            <th>Payment Time Frame</th>

            <th>Current TF Start</th>

            <th>Current TF End</th>

            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Companies) {
        <tr>
            <td>@item.CompanyName</td>

            <td>@item.CompanyAddress</td>

            <td>@item.PaymentTimeFrame</td>

            <td>@item.CurrentTFStart.ToShortDateString()</td>

            <td>@item.CurrentTFEnd.ToShortDateString()</td>

            <td style="width:auto">
                <a asp-page="Edit" 
                    asp-route-oid="@item.CompanyOwnerId"
                    asp-route-cid="@item.CompanyId" 
                    class="btn btn-info">
                Edit</a>

                <a asp-page="../emp/index"
                    asp-route-oid="@item.CompanyOwnerId" 
                    asp-route-cid="@item.CompanyId" 
                    class="btn btn-primary">
                Employees</a>
            </td>
        </tr>
}
    </tbody>
</table>