@page
@model KOTApp.Pages.specialDraws.IndexModel

@{
    ViewData["Title"] = "Special Draws";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid=@Model.Org.CompanyOwnerId 
       class="link">
    My Companies</a> 
     >
    <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
    @Model.Org.CompanyName</a> 
     >
     Draws & Adjustments
</h4>

<p>
    <a asp-page="Edit"
        asp-route-cid="@Model.Org.CompanyId"
        class="btn btn-outline-primary">
    Add New Special Draw</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Employee</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SpecialDrawList) 
        {
            <tr>
                <td>@item.TxDate.ToShortDateString()</td>
                <td>@item.TxAmount.ToString("F2")</td>
                <td>@item.TxType</td>
                <td>@item.Employee.FullName</td>              
                <td>@item.Descr</td>
                <td>
                    <a asp-page="Edit" 
                        asp-route-cid="@item.CompanyId"
                        asp-route-tid="@item.TxId"
                        class="btn btn-outline-secondary">
                    Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>