@page
@model KOTApp.Pages.tx.AllModel

@{
    ViewData["Title"] = "All";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       class="link">
    My Companies</a> 
    >
    <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 
    > All Transactions 
</h4>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Employee</th>
            <th>Type</th>
            <th>Desription</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Txes) {
            <tr>
                <td>@item.TxDate</td>
                <td>@item.TxAmount</td>
                <td>@item.Employee</td>
                <td>@item.TxType</td>
                <td>@item.Descr</td>
            </tr>
        }
    </tbody>
</table>
