@page
@model KOTApp.Pages.tx.IndexModel

@{
    ViewData["Title"] = "Transactions";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/datatables.net-bs5/datatables.bootstrap5.css" />
}

<h4>  

    <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 
    > Transactions [<a href="/tx/TxList?cid=1">x</a>] 
</h4>

<a asp-page="Create" 
   asp-route-cid="@Model.Org.CompanyId" 
   class="btn btn-outline-primary">
Add Transaction</a>

<table id="tblTxList" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Employee</th>
            <th>Type</th>
            <th>Desription</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TrEntries) {
            <tr>
                <td>@item.TxDate.ToShortDateString()</td>
                <td>@item.TxType</td>
                <td>@item.TxAmount</td>
                <td>@item.Employee.FullName</td>
                <td>@item.Descr</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/lib/datatables.net/jquery.datatables.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#tblTxList').DataTable();
        });
    </script>

}