@page
@model KOTApp.Pages.contracts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid=@Model.Org.CompanyOwnerId 
       class="link">
    My Companies</a> 
     >
    <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 

   > <a href='@("/emp/index?&cid=" + @Model.Org.CompanyId)'>Employees</a> > About Contract
   
</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Company.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Employee.FirstName)
            @Html.DisplayFor(model => model.Contract.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.ContractAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.ContractAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Employee.EmpCommPercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Employee.EmpCommPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.AdvancePercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.AdvancePercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.CompanyOwnerAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.CompanyOwnerAmount)
        </dd>
        <dt class="col-sm-2">
            @Model.Contract.AdvancePercent% Advance
        </dt>
        <dd class="col-sm-10">
            @Model.Contract.AdvanceAmount
        </dd>
        <dt class="col-sm-2">
            Total Changes
        </dt>
        <dd class="col-sm-10">
            @Model.Contract.ContractAmount - New Contract Amount (Add Later)
        </dd>
        <dt class="col-sm-2">
            Final Amount
        </dt>
        <dd class="col-sm-10">
            @Model.Contract.ContractAmount + Total Changes
        </dd>
        <dt class="col-sm-2">
            Cost
        </dt>
        <dd class="col-sm-10">
            Contract.Cost
        </dd>
        <dt class="col-sm-2">
            Gross Profit
        </dt>
        <dd class="col-sm-10">
            Final Amount - Contract.Cost
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit"
       asp-route-cid="@Model.Org.CompanyId"
       asp-route-jid="@Model.Contract.ContractId"
       class="btn btn-secondary"
    >Edit</a>
    <a asp-page="./Index" asp-route-cid="@Model.Org.CompanyId" class="btn btn-info">Back to List</a>
</div>