@page
@model KOTApp.Pages.contracts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid=@Model.Org.CompanyOwnerId 
       class="link">
    My Companies</a> 

    > <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 

    > <a href='@("/contracts/index?cid=" + Model.Org.CompanyId)'>Contracts</a>
    > About Contract  
</h4>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Company</dt>
        <dd class="col-sm-10">@Model.Contract.Company.CompanyName</dd>

        <dt class="col-sm-2">Employee</dt>
        <dd class="col-sm-10">@Model.Contract.Employee.FullName</dd>

        <dt class="col-sm-2">Contract Name</dt>
        <dd class="col-sm-10">@Model.Contract.ContractName</dd>

        <dt class="col-sm-2">Contract Date</dt>
        <dd class="col-sm-10">@Model.Contract.StartDate.ToShortDateString()</dd>

        <dt class="col-sm-2">Contract Amount</dt>
        <dd class="col-sm-10">@Model.Contract.ContractAmount</dd>

        <dt class="col-sm-2">Advance Percent</dt>
        <dd class="col-sm-10">@Model.Contract.AdvancePercent</dd>
        
        <dt class="col-sm-2">Advance Amount</dt>
        <dd class="col-sm-10">@Model.Contract.AdvanceAmount</dd>

        <dt class="col-sm-2">Change Orders Total</dt>
        <dd class="col-sm-10">@Model.Contract.COTotal</dd>

        <dt class="col-sm-2">NET Sale</dt>
        <dd class="col-sm-10">@Model.Contract.NETSale</dd>

        <dt class="col-sm-2">Cost</dt>
        <dd class="col-sm-10">@Model.Contract.Cost</dd>

        <dt class="col-sm-2">Gross Profit</dt>
        <dd class="col-sm-10">@Model.Contract.GrossProfit</dd>

        <dt class="col-sm-2">Company Owner Amount</dt>
        <dd class="col-sm-10">@Model.Contract.CompanyOwnerAmount</dd>

        <dt class="col-sm-2">Employee Commission Percent</dt>
        <dd class="col-sm-10">@Model.Contract.EmpCommPercent</dd>

        <dt class="col-sm-2">Employee Commission Due</dt>
        <dd class="col-sm-10">@Model.Contract.EmpCommAmount</dd>

        <dt class="col-sm-2">Employee Balance Due</dt>
        <dd class="col-sm-10">@Model.Contract.EmpBalanceAmount</dd>

        <dt class="col-sm-2">Completion Certificate</dt>
        <dd class="col-sm-10">none</dd>
    </dl>
</div>
@foreach(var item in Model.Contract.ChangeOrders)
{
    <table>
        <thead>
            <tr>
                <th>Change Id</th>
                <th>Change Cost</th>
                <th>Change Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@item.ChangeId</td>
                <td>@item.Cost</td>
                <td>@item.Description</td>
                <td>
                   <a asp-page="../costChanges/Edit" 
                       asp-route-cid="@Model.Org.CompanyId" 
                       asp-route-jid="@Model.Contract.ContractId"
                       class="btn btn-outline-success">
                   Edit</a>
                   <a asp-page="../costChanges/Edit" 
                       asp-route-cid="@Model.Org.CompanyId" 
                       asp-route-jid="@Model.Contract.ContractId"
                       class="btn btn-outline-danger">
                   Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
}
<div>
    <a asp-page="./Edit"
       asp-route-cid="@Model.Org.CompanyId"
       asp-route-jid="@Model.Contract.ContractId"
       class="btn btn-secondary">
    Edit</a>
    <a asp-page="./Index" 
       asp-route-cid="@Model.Org.CompanyId" 
       class="btn btn-info">
    Back to List</a>
</div>