@page
@model KOTApp.Pages.contracts.IndexModel

@{
    ViewData["Title"] = "Contracts";
}

<h4>  
    <a asp-page="../Org/Index" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       class="link">
    My Companies</a> 
     >
    <a asp-page="../Org/OrgDetails" 
       asp-route-oid="@Model.Org.CompanyOwnerId"
       asp-route-cid="@Model.Org.CompanyId" 
       class="link">
      @Model.Org.CompanyName</a> 
    > Contracts 
</h4>

<a asp-page="Create"
   asp-route-cid="@Model.Org.CompanyId"
   class="btn btn-outline-primary">
Add New Contract</a>

<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th>Contract Name</th>
            <th>Contract Date</th>
            <th>Contract Amount</th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractList) {
            <tr>
                <td>@item.Company.CompanyName</td>
                <td>@item.ContractName</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.ContractAmount</td>
                <td>@item.Employee.FullName</td>
                <td>
                    <a asp-page="./Details" 
                       asp-route-cid="@item.CompanyId"
                       asp-route-jid="@item.ContractId"
                       class="btn btn-outline-info">
                    Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*
    add is contract actve (is close date has value)
*@