@page 
@model KOTApp.Pages.org.emp.IndexModel
@{
    ViewData["Title"] = "Company Employees";
}
<h4>  

    <a asp-page="../Org/OrgDetails" asp-route-cid="@Model.Org.CompanyId" class="link">
      @Model.Org.CompanyName</a> 
   > Employees  
</h4>

<form method="post">
    <button class="btn btn-outline-success float-end" 
        asp-page-handler="Draw" 
        asp-route-cid="@Model.Org.CompanyId"
        type="submit">
    Post Regular Draws</button>
</form>

<a asp-page="Edit" 
       asp-route-cid='@Model.Org.CompanyId' 
       class="btn btn-outline-primary">
       Add New Employee</a>

<a asp-page="../specialDraws/Index"
   asp-route-cid="@Model.Org.CompanyId"
   class="btn btn-outline-warning">
Special Draws</a>

<table class="table table-striped">
    <thead>
        <tr> 
            <th>Name</th>
            <th>Draw Amount</th>
            <th>Commision(%)</th>
            <th>Hired</th>
            <th>Left</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees) {
            <tr>
                <td>@item.FullName</td>

                <td>@item.DrawAmount</td>

                <td>@item.EmpCommPercent</td>

                <td>@item.HiredDate.ToShortDateString()</td>

                <td>@(item.TermDate.HasValue ? item.TermDate.Value.ToShortDateString() : "")</td>

                <td style="width:auto">
                     <a asp-page="../tx/emp" 
                        asp-route-oid="@item.Company.CompanyOwnerId"
                        asp-route-cid="@item.CompanyId"
                        asp-route-eid="@item.EmployeeId" 
                        class="btn btn-outline-primary">
                     Transactions</a>

                    <a asp-page="./Edit" 
                       asp-route-cid="@item.CompanyId"
                       asp-route-eid="@item.EmployeeId" 
                       class="btn btn-outline-secondary">
                    Edit</a>

                    <form method="post" class="mt-2">
                        <a asp-page="./Terminate"
                           asp-route-cid="@item.CompanyId"
                           asp-route-eid="@item.EmployeeId"
                           class="btn btn-outline-danger">
                        Terminate (Just Delete)</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>